input {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid black;
}

input.ng-invalid.ng-touched {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid lightcoral;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid lightgreen;
}

.text-warning-info {
    color: lightcoral;
}