.user-panel {
    margin: 12px;
}

.user {
    position: relative;
    max-width: 256px;
    cursor: pointer;
}

.user-photo {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 10px 12px 0px rgba(0,0,0,0.75);
    transition: width 0.5s ease-in-out;
}

.user-username {
    position: absolute;
    bottom: -8px;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    display: block;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, width 0.5s ease-in-out;
}

.user:hover .user-photo {
    width: 105%;
}

.user:hover .user-username{
    opacity: 0.7;
    width: 105%;
}

.list-type {
    list-style-type: none;
}

.car {
    position: relative;
    max-width: 200px;
    margin: auto;
    margin-top: 12px;
}

.car-photo {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 10px 12px 0px rgba(0,0,0,0.75);
}

.car-info {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: black;
    opacity: 0;
    color: white;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
}

.car-info p:first-child {
    margin-top: 8px;
    margin-bottom: 8px;
}

.car:hover .car-info {
    opacity: 0.7;
}