<div class="row justify-content-center">
  <div class="col-6 background">
    <h2>Rejestracja</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <input formControlName="firstname" type="text" id="firstname" class="form-control" placeholder="Imię">
        <span *ngIf="!registerForm.get('firstname').valid && registerForm.get('firstname').touched" class="help-block">
          <span class="text-warning-info" *ngIf="registerForm.get('firstname').errors['required']">
            Wprowadź swoje imię
          </span>
        </span>
      </div>

      <div class="form-group">
        <input formControlName="lastname" type="text" id="lastname" class="form-control" placeholder="Nazwisko">
        <span *ngIf="!registerForm.get('lastname').valid && registerForm.get('lastname').touched" class="help-block">
          <span class="text-warning-info" *ngIf="registerForm.get('lastname').errors['required']">
            Wprowadź swoje nazwisko
          </span>
        </span>
      </div>

      <div class="form-group">
        <input formControlName="birthday" type="date" name="bDate" max="3000-12-31" min="1000-01-01"
          class="form-control">
      </div>

      <div class="form-group">
        <label for="gender"><strong>Płeć</strong></label>
        <div *ngFor="let gender of genders">
          <input class="radio" formControlName="gender" type="radio" [value]="gender">
          {{ gender }}
        </div>
      </div>

      <div class="form-group">
        <input formControlName="username" type="text" id="username" class="form-control"
          placeholder="Nazwa użytkownika">
        <span *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched" class="help-block">
          <span class="text-warning-info" *ngIf="registerForm.get('username').errors['required']">
            Wprowadź nazwę użytkownika
          </span>
        </span>
      </div>

      <div class="form-group">
        <input formControlName="email" type="text" id="email" class="form-control" placeholder="E-mail">
        <span class="text-warning-info" *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">
          Wprowadź email
        </span>
      </div>

      <div class="form-group">
        <input formControlName="password" type="password" id="password" class="form-control" placeholder="Hasło">
        <span class="text-warning-info"
          *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">
          Wprowadź hasło
        </span>
      </div>

      <div class="form-group">
        <input formControlName="rePassword" type="password" id="rePassword" class="form-control"
          placeholder="Powtórz hasło">
        <span class="text-warning-info"
          *ngIf="!registerForm.get('rePassword').valid && registerForm.get('rePassword').touched">
          Powtórz hasło
        </span>
      </div>

      <span class="text-warning-info"
        *ngIf="registerForm.get('rePassword').value != registerForm.get('password').value && registerForm.get('rePassword').value">
        Hasła nie są jednakowe
      </span>

      <span class="text-warning-info" *ngIf="!registerForm.valid && registerForm.touched">
        Wypełnij poprawnie swoje dane
      </span>
      <p></p>
      <button class="btn btn-primary w-100" type="submit">Rejestruj</button>
    </form>
  </div>
</div>