<div class="row justify-content-center">
  <div class="col-12 background">
    <main>
      <section>
        <h1>Lorem ipsum dolor sit amet,</h1>
        <span>
          consectetur adipiscing elit. Nunc urna arcu, imperdiet consectetur arcu quis, dictum ultrices mi.
          Aenean ut ipsum et est posuere dignissim a a dui. Sed et ipsum sit amet leo bibendum varius. Donec mi mauris,
          accumsan eget lacus vitae, consectetur aliquet ligula. Pellentesque interdum scelerisque sodales. Aenean orci
          sapien,
          efficitur sed cursus a, maximus et neque. Praesent vel nisi et dolor vestibulum ullamcorper et sit amet felis.
          Nulla a eros vitae nibh viverra semper. Donec placerat, orci at malesuada ornare, urna nibh malesuada mauris,
          eget interdum tellus libero at dui.
        </span>
      </section>
      <section>
        <h1>Sed fermentum tortor eros,</h1>
        <span>vel aliquet velit accumsan eu. Fusce feugiat tellus nunc, nec consequat metus
          ullamcorper id. Aliquam erat volutpat. Ut dapibus fermentum ligula eu suscipit. Fusce malesuada sodales
          lectusnon
          ultrices. Nulla fringilla ullamcorper eros ut convallis. Quisque porta lectus elit, in dapibus dui ultrices
          nec.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a magna at est lacinia tristique. Aliquam quam
          orci, imperdiet id scelerisque id, bibendum nec justo.
        </span>
      </section>

      <section>
        <h1>Donec molestie</h1>
        <span>
          erat nec semper pellentesque. Nam tristique, justo vitae euismod sodales, mi leo egestas elit, at
          tempus lacus felis id nulla. Cras faucibus risus at tortor molestie, non aliquet arcu accumsan. Aenean eu
          porttitor odio. Donec ex quam, elementum nec justo vel, facilisis ultrices tortor. Nunc tincidunt semper odio
          at
          tincidunt. Donec ullamcorper facilisis libero at gravida. Duis sit amet eros mauris. Nullam magna velit,
          euismod
          vitae vulputate non, accumsan id elit.
        </span>
      </section>

      <section>
        <h1>Aliquam erat volutpat.</h1>
        <span>
          Aenean arcu sapien, imperdiet quis velit non, gravida venenatis metus. Interdum et
          malesuada fames ac ante ipsum primis in faucibus. Vivamus ac arcu enim. Maecenas tincidunt enim et dictum
          malesuada. Nam imperdiet felis hendrerit leo venenatis congue. Sed ac ullamcorper sem. Nam blandit sit amet
          nisi
          ut mollis. Phasellus non condimentum nibh. Sed maximus, diam in aliquam lobortis, quam dolor elementum purus,
          eget
          aliquet nisl turpis sit amet lectus. Donec placerat nunc turpis, non aliquet erat
        </span>
      </section>
    </main>
  </div>
</div>