<div class="row">
  <div class="col-xs-12">
    <h1>{{car.mark}} {{car.model}} {{car.power}}KM</h1>
  </div>
</div>
<div class="row">
  <div class="col-xd-6">
    <img [src]="car.imageUrl" alt="{{car.model}}" class="img-responsive" style="max-height: 300px">
    <p>{{car.mark}}</p>
    <p>{{car.model}}</p>
    <p>{{car.power}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Manage Car
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="cursor-pointer" (click)="onEditCar()">Edit car</a></li>
        <li><a class="cursor-pointer" href="#">Delete car</a></li>
      </div>
    </div>
  </div>
</div>