<div class="row">
  <div class="col-12">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div formGroupName="userData">

        <div class="form-group">
          <label for="username">Nazwa użytkownika</label>
          <input formControlName="username" type="text" id="username" class="form-control">
          <span *ngIf="!loginForm.get('userData.username').valid && loginForm.get('userData.username').touched" class="help-block">
            <span *ngIf="loginForm.get('userData.username').errors['required']">Wprowadź nazwę użytkownika</span>
            <span *ngIf="loginForm.get('userData.username').errors['usernameIsForbidden']">Ta nazwa użytkownika jest już zajęta</span>
          </span>
        </div>

        <div class="form-group">
          <label for="email">E-mail</label>
          <input formControlName="email" type="text" id="email" class="form-control">
          <span *ngIf="!loginForm.get('userData.email').valid && loginForm.get('userData.email').touched" class="help-block">
            Wprowadź poprawny email
          </span>
        </div>
      </div>

      <div class="radio" *ngFor="let gender of genders">
        <label>
          <input formControlName="gender" type="radio" [value]="gender"> {{ gender }}
        </label>
      </div>

      <span *ngIf="!loginForm.valid && loginForm.touched" class="help-block">
        Zaznacz poprawnie swoje dane
      </span>
      <p></p>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
</div>