<div class="row">
    <div class="col-12">
        <h4>Edytuj samochod</h4>

        <form [formGroup]="editCarForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label><strong>Marka</strong></label>
                        <input formControlName="mark" type="text" id="mark" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label><strong>Model</strong></label>
                        <input formControlName="model" type="text" id="model" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label><strong>Moc</strong></label>
                        <input formControlName="power" type="text" id="power" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label><strong>Link do zdjecia</strong></label>
                        <input formControlName="imageUrl" type="text" id="imageUrl" class="form-control" #imageUrl>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <img [src]="imageUrl.value" class="img-responsive" style="max-height: 300px">
                </div>
            </div>

            <hr>    

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success w-50" type="submit" [disabled]="!editCarForm.valid">{{ editMode ? 'Zapisz'  : 'Dodaj' }}</button>
                    <button class="btn btn-danger w-50" type="button" (click)="onCancel()">Wyjdz</button>
                </div>
            </div>
        </form>

    </div>
</div>